<div class="container">
    <h2>Kontaktforma</h2>
    <form [formGroup]="angForm" (ngSubmit)="doSubmit()" novalidate>
        <div class="row">
            <label class="center-block">Vārds, Uzvārds: <span class="required">*</span>
                <input formControlName="fullname">
            </label>
        </div>
        <div *ngIf="angForm.controls['fullname'].invalid && (angForm.controls['fullname'].dirty || angForm.controls['fullname'].touched)" class="alert-danger">
            <div *ngIf="angForm.controls['fullname'].errors.required">
                Lauks 'Vārs, Uzvārds' ir jānorāda obligāti
            </div>
        </div>
        <div class="row">
            <label class="center-block">Telefons numurs: <span class="required">*</span>
                <input formControlName="phone">
            </label>
        </div>
        <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="alert-danger">
            <div *ngIf="angForm.controls['phone'].errors.required">
                Lauks 'Telefona numurs' ir jānorāda obligāti
            </div>
        </div>
        <div class="row">
            <label class="center-block">Adrese:
                <input formControlName="address">
            </label>
        </div>
        <div class="row">
            <label class="center-block">Ziņojums: <span class="required">*</span>
                <textarea formControlName="notice"></textarea>
            </label>
        </div>
        <div *ngIf="angForm.controls['notice'].invalid && (angForm.controls['notice'].dirty || angForm.controls['notice'].touched)" class="alert-danger">
            <div *ngIf="angForm.controls['notice'].errors.required">
                Lauks 'Ziņojums' ir jānorāda obligāti
            </div>
        </div>

        <button type="submit" [disabled]="angForm.pristine || angForm.invalid">Sūtīt</button>
    </form>
</div>